$bgColor: #191b1f;

$textColor: #0e111a;
$textSize: 24px;
$greaterTextSize: 28px;
$mediumTextSize: 20px;
$lesserTextSize: 16px;
$tinyTextSize: 14px;

$textHoverColor: #680051;

$gradientPrimary: #fff;
$gradientSecondary: #fcd68c;

$buttonBgColor: #eca200; // #fb118e;
$buttonAltBgColor: #fff; // #fec6e4;
$buttonTextColor: #fff; // #f5f6fc;

$inputBgColor: #f5f6fc;
$largeInputSize: 96px;

$cardBgColor: white;
$cardHoverBgColor: #fafafd;

$interfaceBlocksWidth: 1000px;

$selectorDefaultColor: #e8ecfb;

$border: 1px solid #3b3c3f;
$brightBorder: 1px solid #d2d9ee;
$borderRadius: 16px;

$blockBgColor: #f5f6fb;
$tokenWrapperBgColor: #e8ecfb;

$defaultCardHeight: 200px;

$green: #49ff00;
$yellow: #eca200;
$red: #ff6464;

$blockBgColor: #F5BF52;
$elementBgColor: #FDEFD4;

$buttonPrimaryColor: #FDDEA0;
$buttonSecondaryColor: #212121;

%default-block {
    background-color: $blockBgColor;
    border-radius: 15px;
}

%default-element {
    background-color: $elementBgColor;
}

%light-btn {
    background-color: $buttonPrimaryColor;
    color: $buttonSecondaryColor;
}

%dark-btn {
    background-color: $buttonSecondaryColor;
    color: $buttonPrimaryColor;
}

%toggler {
    position: relative;
    display: flex;
    width: 64px;
    height: 24px;
    background-color: $elementBgColor;
    border-radius: 24px;
    cursor: pointer;
    .toggle {
        position: absolute;
        left: 2px;
        top: 2px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $blockBgColor;
        transition: 0.3s;
    }
    .toggleActive {
        transition: 0.3s;
        left: 42px !important;
        background-color: $buttonPrimaryColor;
    }
}