$bgColor: #191b1f;

$textColor: #0e111a;
$textSize: 24px;
$greaterTextSize: 28px;
$lesserTextSize: 16px;
$tinyTextSize: 14px;

$textHoverColor: #680051;

$gradientPrimary: #ffedf8;
$gradientSecondary: white;

$buttonBgColor: #fb118e;
$buttonTextColor: #f5f6fc;

$cardBgColor: white;

$interfaceBlocksWidth: 1200px;

$selectorDefaultColor: #e8ecfb;

$border: 1px solid #3b3c3f;
$borderRadius: 16px;

$defaultCardHeight: 200px;