$bgColor: #191b1f;

$textColor: #0e111a;
$textSize: 24px;
$greaterTextSize: 28px;
$lesserTextSize: 16px;
$tinyTextSize: 14px;

$textHoverColor: #680051;

$gradientPrimary: #fff;
$gradientSecondary: #fff0aa;

$buttonBgColor: #eca200; // #fb118e;
$buttonAltBgColor: #fff; // #fec6e4;
$buttonTextColor: #fff; // #f5f6fc;

$inputBgColor: #f5f6fc;
$largeInputSize: 96px;

$cardBgColor: white;
$cardHoverBgColor: #fafafd;

$interfaceBlocksWidth: 1000px;

$selectorDefaultColor: #e8ecfb;

$border: 1px solid #3b3c3f;
$brightBorder: 1px solid #d2d9ee;
$borderRadius: 16px;

$defaultCardHeight: 200px;

$green: #49ff00;
$yellow: #eca200;
$red: #ff6464;